.itemContainer {
  margin: 30px 30px;
  min-height: 18rem;
  max-width: 24rem;
  padding: 5px;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
